@import 'node_modules/normalize.scss/normalize.scss';
@import 'font-awesome.scss';

$font-color: #990033;
$div-color: #B9B9B9;
$body-color: #FFFFFF;

@font-face {
  font-family: 'LilyScriptOne';
  src: url('../fonts/LilyScriptOne-Regular.ttf') format('truetype');
}

.main {
  margin: 75px auto;
  width: 700px;
  color: $font-color;
  text-align: center;
}

.main div {
  margin-bottom: 25px;
}

h1 {
  font-family: 'LilyScriptOne' !important;
  font-size: 3.2em;
}


span {
  font-size: 2em;
  font-weight: 700;
}

button {
  color: $body-color;
  background-color: $font-color;
  border-radius: 2px;
  border: none;
  margin: 15px;
  padding: 10px 30px;
  font-weight: 700;
}

button:focus {
  outline: none;
}

.primary:hover {
  background-color: #993758;
}

.primary:active {
  background-color: #730026;
}

.secondary {
  background-color: #4099FF;
}

.secondary:hover {
  background-color: #7DBAFF;
}

.secondary:active {
  background-color: #1B85FF;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}