doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description', content='A Random Quote Generator')
    meta(name='keywords', content='random, quote, generator')
    meta(name='author', content='Melvin Canela')
    
    title Random Quote Generator

    link(rel='icon', href='./favicon.ico' type='image/x-icon')
    link(rel='stylesheet', href='./css/custom.css')
    script(type="text/javascript", async, src="https://platform.twitter.com/widgets.js")
    script(src='./js/app.js')
  body
    .row
      h1.col-8.col-offset-2 Random Quote Generator
    .row
      #generate
        .row
          .col-8.col-offset-2
            span.quote
        .row
          .col-8.col-offset-2
            span.author
    .row
      .col-8.col-offset-2
        button.primary(type='button') #[i.fa.fa-comment.fa-inverse.fa-2x(aria-hidden="true")]
        button.secondary(type='button') #[i.fa.fa-twitter.fa-inverse.fa-2x(aria-hidden="true")]