doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description', content='A Random Quote Generator')
    meta(name='keywords', content='random, quote, generator')
    meta(name='author', content='Melvin Canela')
    
    title Random Quote Generator

    link(rel='stylesheet', href='/css/custom.css')
    script(type="text/javascript", async, src="https://platform.twitter.com/widgets.js")
    script(src='/js/app.js')
  body
    .main
      h1 Random Quote Generator
      div
        span.quote
      div
        span.author
      button.primary(type='button') New Quote
      button.secondary(type='button') Tweet Quote
      