doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description', content='A Random Quote Generator')
    meta(name='keywords', content='random, quote, generator')
    meta(name='author', content='Melvin Canela')
    
    title Random Quote Generator

    link(rel='stylesheet', href='/css/custom.css')
    script(src='/js/app.js')

  body
    .main
      h3 Random Quote Generator
      p.quote 
      button.primary New Quote
      button.secondary Tweet Quote